<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Image/poon26.jpg" class=" d-block w-80 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Image/papichaya26.jpg" class=" d-block w-80 " alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p class="text-center">นางสาวปพิชญา ลาดหนองขุ่น</p>
  <p class="text-center">ชื่อเล่น ญี่ปุ่น อายุ 20 ปี </p>
  <p class="text-center">กำลังศึกษาอยู่ชั้นปี ที่ 3 คณะวิทยาศาสตร์และเทคโนโลยี สาขาวิทยาการคอมพิวเตอร์</p>
  <p class="text-center">มหาวิทยาลัยราชภัฏวไลยอลงกรณ์ ในพระบรมราชูปถัมภ์</p>
